@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
font-family: 'Rajdhani';
src: url(./fonts/Rajdhani-Medium.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

