@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F9FF;
}

* {
    outline: none;
}

@layer components {
  .small-heading-h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2%;
  }

  .small-heading-h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
  }

  .nanum-brush-script-regular {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
  }
}